* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/fondoR.jpg");
}

h1 {
  margin-left: 2.5rem;
}
.articulosEstilo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}
