* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/assets/fondoR.jpg");
}

header {
  grid-area: head;
  height: 7rem;
}

section {
  grid-area: merch;
}

.articulosEstilo {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "head"
    "merch"
    "merch";
}

.pushbar-carrito {
  background-color: #000;
  opacity: 0.8;
  color: white;
  font-size: 18px;
  font-weight: 300;
  margin-left: 15px;
}

.pushbar-carrito .titulo {
  font-size: 24px;
  padding: 20px 0;
  font-weight: 600;
  margin-bottom: 22px;
  margin-left: 15px;
  border-bottom: 2px solid rgb(54, 54, 54);
}

.pushbar-carrito .producto {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  margin: 0 15px;
  border-bottom: 2px solid rgb(54, 54, 54);
}

.pushbar-carrito .producto img {
  height: 85px;
  width: 80px;
}

.pushbar-carrito .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.pushbar-carrito .descripcion p {
  margin: 0;
}

#fullCarrito {
  margin-left: 5px;
}

.botonesCarrito {
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
}

.imgCommerce {
  max-width: 150px;
  max-height: 150px;
}
